/* Stylesheet by AAIverson, Jan.2017 */
#mapid {
    height: 400px;
    width: 100%;
    display: inline-block;
}

#panelFemale {
    width: 100%;
    padding: 0px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 40px;
}

#panelMale {
    width: 100%;
    padding: 0px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 40px;
}

.range-slider {
	width: 85%;
}

#forwardMale {
    float: right;
}

#reverseMale {
    float: left;
}

#forwardFemale {
    float: right;
}

#reverseFemale {
    float: left;
}

.leaflet-popup-content p {
	margin: 0.2em 0;
}